@font-face {
	font-family: "OpenSans";
	font-display: swap;
	src: url("../fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"), url("../fonts/OpenSans-VariableFont_wdth,wght.woff") format("woff"), url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "OpenSans";
	font-display: swap;
	src: url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2"), url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff") format("woff"), url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("ttf");
	font-weight: 400;
}
